body {
  background-color: black;
}
p {
  font-family: 'Libre Franklin', sans-serif;
  color: white;
  font-size: 36px;
  font-weight: 100;
  text-align: center;
  vertical-align: center;
  line-height: 1.25em;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  color: white;
  font-size: 72px;
  text-align: center;
  font-weight: 900;
  vertical-align: center;

}

h2 {
  font-family: 'Libre Franklin', sans-serif;
  color: white;
  font-size: 62px;
  text-align: center;
  font-weight: 400;
  vertical-align: center;

}

p.italic {
  font-family: 'Libre Franklin', sans-serif;
  color: grey;
  Sans', sans-serif;
  font-size: 12pt;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  vertical-align: center;

}

p.reference {
  font-family: 'IBM Plex Serif', serif;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: grey;
  
}

a:link {
  color: black;
  
  background-color: yellow;
}

a:visited {
  color: black;
  
  background-color: yellow;
}

a:hover {
  color: black;
  
  background-color: pink;
}

a:active {
  color: black;
  
  background-color: black;
} 